@model LeaveTypeVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>

<h1>Create Leave Type</h1>
<form asp-action="Create">
    <partial name="PartialViews/_CreateEditPartialView"/>
    <input type="submit" value="Create" class="btn btn-primary"/> | 
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

